.navbar {
  background-color: ##0269D9 !important;
}

.nav-item {

  padding-right: 20px;
  border-right: 1px solid red;
}


.jumbotron {
  background-image: url("artificial.jpg")
}

.jumbotron h1 {
  color: orange !important;

}

/* .display-4 {
  color: azure;
  padding-top: 10px;
} */

.card {
  background-color: orange;
  border: 1px solid blue;

}
